@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;

}
header{
background:#ffffff;
width: 100%;
position: fixed;
z-index: 999;
display: flex;
justify-content: space-between;
padding: 10px 99px;
}
.logo{
    text-decoration: none;
    color: rgb(45, 93, 224);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.4em;

}
.navigation a{
    color: rgb(45, 93, 224);
    text-decoration: none;
    font-size: 1. 1em;
    font-weight: 500;
    padding-left: 30px;
    
}
.navigation a:hover{
color: rgb(248, 112, 0);
}
section{
    padding: 100px 200px;
}
.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url("photo_2022-03-24_21-00-15.jpg");
    background-size: cover;
    background-position: center;
}
.main h2{
color: #ffff;
font-size: 2em;
}
.main h1{
    color: rgb(248, 112, 0);
    font-size: 3em;
    letter-spacing: 1px;
}
.main h3{
    color: #ffff;
font-size: 2em;
}
.main-btn {
    color: #fff;
   background-color: rgb(248, 112, 0);
   text-decoration: none;
   font-size: 0.87em;
   font-weight: 600;
   display: inline-block;
   padding: 0.9375em 2em;
   letter-spacing: 1px;
   border-radius: 55px;
   margin-bottom: 40px;
   transition: 0.7s ease;
}
.main-btn:hover{
background-color: #fff;
transform:scale(1.1);
color: rgb(45, 93, 224);
}
.social-icons a{
    color: rgb(248, 112, 0);
    padding-right: 30px;
    font-size: 1.2em;
}
.title {
display: flex;
justify-content: center;
color:rgb(45, 93, 224);
font-size: 2.2em;
font-weight: 800;
margin-bottom: 30px;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card {
background-color: #fff;
width: 21.25em;
box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
border-radius: 30px;
padding: 23px;
margin: 13px;
transition: 0.7s ease;
}
.card:hover{
background-color: #fff;
transform: scale(1.1);

}

.icon{
    font-size:  4.5em;;
    color: rgb(248, 112, 0);
    text-align: center;
}
.info{
text-align: center;
text-decoration: none;


}
.info h3{
    font-size: 1.2em;
    color: rgb(0, 0, 0);
}
.card-Contact{
    background-color:rgb(45, 93, 224);
}
.title-contact{
    display: flex;
justify-content: center;
color:rgb(248, 112, 0);
font-size: 2.2em;
font-weight: 800;
margin-bottom: 30px;
}

